.body{
    background-color: $primary-color;
    width: 100%;
    min-height: 100vh;
    @media screen and (min-width: $screen-lg) {
        width: 80%;
        margin-left: calc(100vw - 80%);
    }
}

//value-bar

.value-bar{
    background-color: $white;
    margin-top: 3rem;
    padding: 1.125rem 1.125rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.value-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    @media screen and (min-width: $screen-md) {
        width: auto;
    }
}

.value{
    padding: 1.125rem 0;
    width: 100%;

    @media screen and (min-width: $screen-md) {
        padding: 0 1.125rem;
        width: auto;
    }
    &.total{
        padding-left: 0;
        border-bottom: 1px solid $primary-color;
        @media screen and (min-width: $screen-md) {
            border-right: 1px solid $primary-color;
            border-bottom: none;
            
        }
    }
    ul{
        display: flex;
        justify-content: space-between;
    }

    .amount{
        font-size: 1rem;
        display: flex;
        align-items: center;
        font-weight: 500;
        @media screen and (min-width: $screen-md) {
            font-size: 1.5rem;

        }

        &.btc{
            margin-right: 10px;
        }
    }

}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
    
    @media screen and (min-width: $screen-xl) {
        width: auto;
    }
    .primary-btn{
        width: calc(50% - 10px);
        @media screen and (min-width: $screen-xl) {
            width: auto;
        }
        &:first-child{
            margin-right: 10px;
        }
    }
}

.value-tag{
    display: inline-block;
    font-size: 10px;
    line-height: 1;
    padding: 8px 12px;
    background-color: $primary-color;
    border-radius: 13px;
    color: $light-grey;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 6px;
}

.grid-layout{
    margin: 1rem 0 2rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    @media screen and (min-width: $screen-md) {
        grid-template-columns: repeat(2, 1fr);

    }
}