.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    overflow-x: clip;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    width: 40vw;
    position: fixed;
    z-index: 1;
    padding: 20px 15px 40px;
    top: 50px;
    bottom: 0;
    left: calc(-40vw - 30px);
    transition: all 0.3s ease;
    @media screen and (min-width: $screen-md) {
        top: 60px;
    }

    @media screen and (min-width: $screen-lg) {
        
        width: 20%;
        padding: 80px 15px 40px;
        // height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

    }

    &.active{
        left: 0;
    }
}

.nav-item{
    display: block;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    line-height: 1;
    font-weight: 500;
    text-transform: capitalize;
    color: $light-grey;

    @media screen and (min-width: $screen-lg) {
        font-size: 1.25rem;
        padding: 1rem 1.75rem;
        border-radius: 10px;

    }
    i,svg{
        margin-right: 8px;
        font-size: 1rem;
    }
    &:active{
        color: $light-grey;

    }
    &.active{
        background-color: $primary-color;
        color: $black;
        i, svg{
            color: $secondary-color;
        }
    }
}