//font
$font: 'Ubuntu', sans-serif;

// colors

$white: #ffff;
$black: #000;

$primary-color:#f3f3f7;
$secondary-color:#13f136;
$grey:#535d66;
$light-grey: #797e82;
$mid-grey: #ccc;
$purple:#5f00d9;

$yellow: #f5a50b;
$red:#dc2626;
$green:#059669;

//container
$screen-sm: 450px;
$screen-md:760px;
$screen-lg:990px;
$screen-xl:1200px;
$screen-xxl:1400px;
$screen-xxxl:1600px;

